
<!-- footer content -->
<footer>
  <div class="pull-right">
    Rocket MD - Brought to you with <i class="fa fa-heart" style="color: red"></i> from Dominican Republic
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<div id="custom_notifications" class="custom-notifications dsp_none">
  <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
  </ul>
  <div class="clearfix"></div>
  <div id="notif-group" class="tabbed_notifications"></div>
</div>

